.picker-root {
    mask-image: linear-gradient(
      to bottom,
      white 0%,
      white 78%,
      transparent 100%
    ) !important;
  
    -webkit-mask-image: linear-gradient(
      to bottom,
      white 0%,
      white 78%,
      transparent 100%
    ) !important;
  }

.picker-root > div:last-child > div {
  display: none !important;
}

.picker-column {
  transition-duration: 0ms !important;
  transition-property: none !important;
}
