/* @theme {
  --font-pretendard: 'Pretendard', 'sans-serif';
} */

/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css'); */

/* Pretendard font */

/* Thin: 100 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
} */

/* ExtraLight: 200 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
} */

/* Light: 300 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
} */

/* Regular: 400 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
} */

/* Medium: 500 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
} */

/* Semibold: 600 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
} */

/* Bold: 700 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
} */

/* ExtraBold: 800 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
} */

/* Black: 900 */
/* @font-face {
  font-family: Pretendard;
  font-style: normal;
  src: url('/fonts/pretendard/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
} */

/* Sorts Mill Groudy */

/* @font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('/fonts/Sorts-Mill-Goudy/SortsMillGoudy-Regular.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
} */
