@import 'tailwindcss';
@import './font.css';
@import './colors.css';
@import './size.css';

:root {
  --pure-white: #fff;
  --pure-black: #000;

  --main-bg: #fafafc;
  --primary-purple: #4a3aff;
  --headings-black: #5d5a88;

  --text-gray: #9795b5;
  --placeholder: #bdbdbd;
}

html,
body {
  min-width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
  box-sizing: border-box;
  font-size: 62.5% !important;
  /* font-family: 'Sorts Mill Goudy', 'Pretendard'; */
  font-family: var(--font-Sorts-Mill-Groudy), var(--font-pretendard);
}

img:not([class]),
video:not([class]) {
  width: 100%;
  height: 100%;
  object-fit: contain;
} 

ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  background: transparent;
}

input::placeholder {
  color: var(--placeholder);
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  html,
  body {
    font-size: 50% !important;
  }
}

@media screen and (max-width: 639px) {
  html,
  body {
    font-size: 37.5% !important;
  }
}
